* {
  margin: 0;
  padding: 0;
}

body {
  background: #e6e9ed;
  font: 12px Arial, Helvetica, sans-serif;
  color: #333;
}

#header {
  height: 100px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

#header h1 {
  margin: 0 20px;
  border: none;
  font-size: 16px;
}

#content {
	width: 920px;
	margin: 80px auto;
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 5px;
}

h1 {
  font-size: 25px;
  padding: 0 0 10px;
  margin: 0 0 10px;
  color: #1a82f7;
  border-bottom: 1px solid #ddd;
}

h2 {
  font-size: 18px;
  padding: 10px 0;
  color: #1a82f7;
}

body style {
	display: block;
	white-space: pre-wrap;
	font: 11px Monaco, Monospace;
	margin: 5px 0 20px 0;
	padding: 15px;
	background: #eee;
	overflow: auto;
}